<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite, Version=1.0.79.0, Culture=neutral, PublicKeyToken=db937bc2d44ff139" />
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
  <add name="dbEntities" connectionString="metadata=res://*/DataAccess.Model.csdl|res://*/DataAccess.Model.ssdl|res://*/DataAccess.Model.msl;provider=System.Data.SQLite;provider connection string='data source=&quot;D:\VS Project\10-Projects\OSU\lib\db.db3&quot;'" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>