body{
	background: #efefef;
	padding: 0;
	margin: 0;
}

li, ul, dd {
	text-decoration: none;
	outline-style: none;
	list-style: none;
}

ul.left li{
	float: left;
	min-width: 100px;
}

.left{
	float: left;
}

.right{
	float: right:
}